In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.9 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///practice.db

CREATION OF 3 TABLES
#1

In [ ]:
%%sql

CREATE TABLE beneficiary_partner_data (
partner_id INTEGER NOT NULL PRIMARY KEY,
partner VARCHAR(30) NOT NULL,
village VARCHAR(30) NOT NULL,
beneficiaries INTEGER,
beneficiary_type VARCHAR(30)
);

 * sqlite:///practice.db
Done.

[]

#2

In [ ]:
%%sql

 CREATE TABLE village_locations (
    village_id INTEGER NOT NULL PRIMARY KEY,
    village VARCHAR(30) NOT NULL,
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    total_population INTEGER
);

 * sqlite:///practice.db
Done.

[]

#3

In [ ]:
%%sql CREATE TABLE jurisdiction_hierarchy (
     jurisdiction_id INTEGER NOT NULL PRIMARY KEY,
      village VARCHAR(30) NOT NULL,
     jurisdiction_type VARCHAR(30) NOT NULL,
     Region VARCHAR(30)
);

 * sqlite:///practice.db
Done.

[]

POPULATING TABLES

In [ ]:
%%sql
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(1,'Dharkenley','4°47''35.40"','45°12''28.80"',12800);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(2,'Bulo-Kahin','4°47''57.00"','45°11''5.70"',9485);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(3,'Hilo Kelyo','4°47''57.00"','45°12''58.60"',5212);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(4,'Xubow','4°46''46.77"','45°12''7.57"',2558);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(5,'Xiintooy','4°44''14.40"','45°13''5.00"',3850);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(6,'Dhagax Jebis','4°44''27.86"','45°12''42.03"',3563);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(7,'Filtare','4°44''20.43"','45°12''27.89"',8000);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(8,'Howl-Wadaag','4°43''50.00"','45°11''58.20"',7525);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(9,'Balcad','2°21.624''','45°23.928''',1500);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(10,'Mareeray','2°23.504''','45°25.200''',7500);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(11,'Kulmis','2°36.761''','45°30.642''',6058);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(12,'Sabuun','2°53.020''','45°32.356''',5483);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(13,'Bayaxaw','2°44.768''','45°29.727''',3000);
INSERT INTO village_locations(village_id, village,latitude,longitude, total_population) VALUES(14,'Bayaxawo','2°44.768''','45°29.926''',7560);

 * sqlite:///practice.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# New Section

In [ ]:
%%sql
INSERT INTO jurisdiction_hierarchy VALUES(1,'Middle Shabelle','Region',NULL);
INSERT INTO jurisdiction_hierarchy VALUES(2,'Hiraan','Region',NULL);
INSERT INTO jurisdiction_hierarchy VALUES(3,'Balcad','District','Middle Shabelle');
INSERT INTO jurisdiction_hierarchy VALUES(4,'Jowhar','District','Middle Shabelle');
INSERT INTO jurisdiction_hierarchy VALUES(5,'Beledweyn','District','Hiraan');
INSERT INTO jurisdiction_hierarchy VALUES(6,'Dharkenley','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(7,'Bulo-Kahin','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(8,'Hilo Kelyo','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(9,'Xubow','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(10,'Xiintooy','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(11,'Dhagax Jebis','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(12,'Filtare','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(13,'Howl-Wadaag','Village','Beledweyn');
INSERT INTO jurisdiction_hierarchy VALUES(14,'Balcad','Village','Balcad');
INSERT INTO jurisdiction_hierarchy VALUES(15,'Mareeray','Village','Balcad');
INSERT INTO jurisdiction_hierarchy VALUES(16,'Kulmis','Village','Balcad');
INSERT INTO jurisdiction_hierarchy VALUES(17,'Sabuun','Village','Jowhar');
INSERT INTO jurisdiction_hierarchy VALUES(18,'Bayaxaw','Village','Jowhar');

 * sqlite:///practice.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO beneficiary_partner_data(partner_id,partner,village,beneficiaries,beneficiary_type) VALUES
(1,'IRC','Balcad',1450,'Individuals'),
(2,'NRC','Balcad',50,'Households'),
(3,'SCI','Balcad',1123,'Individuals'),
(4,'IMC','Balcad',1245,'Individuals'),
(5,'SCI','Mareeray',5200,'Individuals'),
(6,'IMC','Mareeray',70,'Households'),
(7,'IRC','Mareeray',2100,'Individuals'),
(8,'CESVI','Mareeray',1800,'Individuals'),
(9,'SCI','Kulmis',1340,'Individuals'),
(10,'IMC','Kulmis',55,'Households'),
(11,'SCI','Kulmis',4500,'Individuals'),
(12,'IMC','Kulmis',1670,'Individuals'),
(13,'IMC','Sabuun',1340,'Individuals'),
(14,'IRC','Sabuun',66,'Households'),
(15,'CESVI','Sabuun',4090,'Individuals'),
(16,'SCI','Sabuun',2930,'Individuals'),
(17,'IMC','Bayaxaw',2800,'Individuals'),
(18,'IRC','Bayaxaw',2100,'Individuals'),
(19,'CESVI','Bayaxaw',45,'Households'),
(20,'SCI','Bayaxaw',1700,'Individuals'),
(21,'SCI','Bayaxawo',5900,'Individuals'),
(22,'IMC','Bayaxawo',40,'Households'),
(23,'IRC','Bayaxawo',1500,'Individuals'),
(24,'CESVI','Bayaxawo',1260,'Individuals'),
(25,'CESVI','Dharkenley',7880,'Individuals'),
(26,'IRC','Dharkenley',34,'Households'),
(27,'SCI','Bulo-Kahin',4300,'Individuals'),
(28,'IMC','Bulo-Kahin',4212,'Individuals'),
(29,'IRC','Bulo-Kahin',3200,'Individuals'),
(30,'IRC','Hilo Kelyo',5212,'Individuals'),
(31,'SCI','Hilo Kelyo',25,'Households'),
(32,'CESVI','Xubow',2157,'Individuals'),
(33,'IMC','Xiintooy',1667,'Individuals'),
(34,'IRC','Xiintooy',2667,'Individuals'),
(35,'CESVI','Dhagax Jebis',2856,'Individuals'),
(36,'CESVI','Filtare',7519,'Individuals'),
(37,'CESVI','Howl-Wadaag',6870,'Individuals'),
(38,'IMC','Howl-Wadaag',32,'Households');

 * sqlite:///practice.db
38 rows affected.

[]

**Answers:**

In [ ]:
%%sql
-- Drop the view if it exists
DROP VIEW IF EXISTS District_summary;

-- Create the view summary
--i) District Name
--ii) Region Name

CREATE VIEW District_summary AS
SELECT DISTINCT jurisdiction_type AS District_Name, Region AS Region_Name
FROM jurisdiction_hierarchy
WHERE jurisdiction_type = 'District';

 * sqlite:///practice.db
Done.
Done.

[]

In [ ]:
%%sql
SELECT *
FROM District_summary;

 * sqlite:///practice.db
Done.

[('District', 'Middle Shabelle'), ('District', 'Hiraan')]

iii) No. of Individual Beneficiaries (1HH = 6 Individuals)

In [ ]:
%%sql
SELECT
    SUM(CASE
            WHEN beneficiary_type = 'Individuals' THEN beneficiaries
            WHEN beneficiary_type = 'Households' THEN beneficiaries * 6
            ELSE 0
        END) AS total_individual_beneficiaries
FROM
    beneficiary_partner_data;

 * sqlite:///practice.db
Done.

[(95090,)]

TOTAL DISTRICT POPULATION

Here i am Calculating the total district population by joining two tables that is the village locations and jurisdiction hierarchy tables  on village which is common in both and then i specified the juridiction type has to be district because thats the total id want.

In [ ]:
%%sql
SELECT
    jh.Region AS district,
    SUM(vl.total_population) AS total_district_population
FROM
    village_locations vl
JOIN
    jurisdiction_hierarchy jh ON vl.village = jh.village
WHERE
    jh.jurisdiction_type = 'District'
GROUP BY
    jh.Region;

 * sqlite:///practice.db
Done.

[('Middle Shabelle', 1500)]

iv) No. of Individual Beneficiaries / Total District Population

In [ ]:
%%sql
SELECT
    95090 / 1500 AS ratio
FROM
    (SELECT SUM(beneficiaries) AS total_individual_beneficiaries FROM beneficiary_partner_data WHERE beneficiary_type = 'Individuals') AS individual_beneficiaries,
    (SELECT SUM(total_population) AS total_district_population FROM village_locations vl JOIN jurisdiction_hierarchy jh ON vl.village = jh.village WHERE jh.jurisdiction_type = 'District' GROUP BY jh.Region) AS district_population;

 * sqlite:///practice.db
Done.

[(63,)]

In [ ]:
%%sql
CREATE VIEW Partner_summary AS
SELECT
    partner AS Partner_Name,
    COUNT(DISTINCT vl.village_id) AS No_of_Villages_reached,
    COUNT(DISTINCT jh.Region) AS No_of_Districts_reached
FROM
    beneficiary_partner_data bpd
JOIN
    village_locations vl ON bpd.village = vl.village
JOIN
    jurisdiction_hierarchy jh ON bpd.village = jh.village
GROUP BY
    partner;

 * sqlite:///practice.db
Done.

[]

In [ ]:
%%sql
SELECT * FROM Partner_summary;

 * sqlite:///practice.db
Done.

[('CESVI', 8, 3), ('IMC', 8, 4), ('IRC', 8, 4), ('NRC', 1, 2), ('SCI', 7, 4)]

SQL-Week-One-Practice
Development actors and governments often deal with several sources of data that are stored in different places and in different formats. Part of A data analyst's work is helping clients manage their data assets and learn from the inter-connections. In this example, the client has asked you to extract data related to one of their programmes in Somalia, calculate key indicators from such data, and export it in a format that is used by their reporting platform.

Create the following three database tables run tablegen.sql script
Table	Description
Village location	Where the projects are run and are associated with geographic coordinates
Beneficiary Partner Data	Each Partner records the number of projects in a subset of villages and records the number of beneficiaries
Jurisdiction Hierachy	Village is the lowest then District then Region
Please note that in the tablegen.sql script only 2 tables have been created, your first practice task will be to create the table to store the datapoints required, i.e partner_id, partner, village, beneficiaries, beneficiary_type.

Write a SQL script that creates the following summary tables (can be tables or views):
a) District_summary.

i) District Name

ii) Region Name

iii) No. of Individual Beneficiaries (1HH = 6 Individuals)

iv) No. of Individual Beneficiaries / Total District Population

b) Partner_summary

i) Partner Name

ii) No. of Villages reached by partner

iii) No. of Districts reached by partner